body {
	background-color: blanchedalmond;
}

.App {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: min-content auto auto;
	grid-template-areas:
		"header"
		"nav"
		"content";
}

.header {
	border: orangered solid 2px;
}

.nav {
	border: peru solid 2px;
}

.content {
	border: powderblue solid 2px;
}

.nav-button {
	border: black solid 3px;
	background-color: seashell;
	display: block;
	width: 8em;
	height: 3em;
}

nav li {
	list-style-type: none;
	display: inline-block;
}
