body {
	background-color: #e9f5db;
	font-family: Helvetica, Arial, sans-serif;
}

.App {
	text-align: center;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: min-content auto auto;
	grid-template-areas:
		"header"
		"nav"
		"content";
}

a:visited {
	color: black;
	text-decoration: none;
}

a {
	color: black;
	text-decoration: none;
}

.nav {
	border-bottom: black solid 4px;
	padding: 1rem;
}

.nav-button {
	justify-content: center;
	align-items: center;
	background-color: #b5c99a;
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 1px 1px 3px black;
}

.nav-button:hover {
	color: white;
	cursor: pointer;
}

nav li {
	list-style-type: none;
	display: inline-block;
}

.all-articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.article-card {
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 80% 20%;
	grid-template-areas:
		"title author"
		"votes comment-count";
	background-color: #cfe1b9;
	margin: 10px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 10px;
	width: 400px;
	height: 270px;
	box-shadow: 1px 1px 5px black;
}

.article-card h3 {
	font-size: x-large;
}

li {
	list-style-type: none;
}

.article-card:link {
	color: black;
	text-decoration: none;
}

.article-card:visited {
	color: black;
	text-decoration: none;
}

.article-card:hover {
	color: white;
}

.all-comments {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.comment-card {
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-areas:
		"body"
		"author"
		"timestamp"
		"votes";
	background-color: #cfe1b9;
	margin: 10px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 10px;
	width: 30vh;
	height: auto;
	box-shadow: 1px 1px 5px black;
}

.add-comment-form {
	background-color: #cfe1b9;
	margin: 20px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 1px 1px 5px black;
	height: auto;
	display: grid;
	grid-template-columns: 100%;
}

.article {
	background-color: #cfe1b9;
	margin: 10px;
	padding: 20px;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 1px 1px 5px black;
	align-items: center;
	justify-content: center;
	display: grid;
	grid-template-rows: 40% 60%;
	grid-template-columns: 50% 50%;
}

.title {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.body {
	grid-column-start: 1;
	grid-column-end: column1-end;
}

.vote-card {
	justify-content: center;
	display: grid;
	background-color: #b5c99a;
	margin: 5px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 10px;
	width: auto;
	height: auto;
	box-shadow: 1px 1px 5px black;
}

.article-button {
	justify-content: center;
	align-items: center;
	background-color: #b5c99a;
	margin: 5px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 1px 1px 3px black;
}

.article-button:hover {
	color: white;
	cursor: pointer;
}

.topic-selector h3 {
	margin: 1px;
}

.topic-selector ul {
	margin: 0px;
}

.sortby-selector h3 {
	margin: 1px;
}

.sortby-selector ul {
	margin: 0px;
}

.order-selector h3 {
	margin: 1px;
}

.order-selector ul {
	margin: 0px;
}

.query-selectors {
	background-color: #cfe1b9;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 1px 1px 5px black;
	width: 40rem;
	margin: auto;
	margin-top: 1rem;
}
