body {
	background-color: blanchedalmond;
}

.App {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: min-content auto auto;
	grid-template-areas:
		"header"
		"nav"
		"content";
}

.header {
	border: orangered solid 2px;
}

.nav {
	border: peru solid 2px;
}

.content {
	border: powderblue solid 2px;
}

.nav-button {
	border: black solid 3px;
	background-color: seashell;
	display: block;
	width: 8em;
	height: 3em;
}

nav li {
	list-style-type: none;
	display: inline-block;
}

.all-articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.article-card {
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 80% 20%;
	grid-template-areas:
		"title author"
		"votes comment-count";
	background-color: burlywood;
	margin: 10px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 10px;
	width: 400px;
	height: 270px;
	box-shadow: 1px 1px 5px black;
}

li {
	list-style-type: none;
}

.article-card:link {
	color: black;
	text-decoration: none;
}

.article-card:visited {
	color: black;
	text-decoration: none;
}

.article-card:hover {
	color: white;
}
